<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<body>

    <div th:fragment="resultados">
        <div th:if="${not #lists.isEmpty(atividades)}" class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
            <div class="col" th:each="atividade : ${atividades}">
                <div class="card h-100">
                    <img th:src="${atividade.urlImagem}" class="card-img-top" alt="Banner da Atividade">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${atividade.nome}"></h5>
                        <p class="card-text" th:text="${atividade.descricao}"></p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Categoria:</strong> <span th:text="${atividade.categoria}"></span></li>
                        <li class="list-group-item"><strong>Etapa:</strong><span th:text="${atividade.etapaEducacional}"th:class="|etapa-${#strings.replace(#strings.toLowerCase(atividade.etapaEducacional), ' ', '-')}|"></span></li>
                        <li class="list-group-item">
                        <li class="list-group-item">
                        <strong>Habilidades BNCC:</strong>
                        <span th:each="habilidade, iterStat : ${atividade.habilidadesBncc}">
                            <span th:text="${habilidade}"></span><span th:if="${!iterStat.last}">, </span>
                        </span>
                    </li>
                    </ul>
                    <div class="card-footer">
                        <a th:href="${atividade.link}" class="btn btn-primary" target="_blank">Acessar Atividade</a>
                    </div>
                </div>
            </div>
        </div>
        <div th:if="${#lists.isEmpty(atividades)}" class="text-center mt-5">
            <p>Nenhuma atividade encontrada com os filtros aplicados.</p>
        </div>
    </div>

</body>
</html>