<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/base}">
<head>
    <title>Sobre o BNCC Atividades</title>
</head>
<body>
    <div layout:fragment="conteudo">
        <div class="container my-5 text-center">
            <h2 class="display-4 fw-bold mb-4">Computeca: Gestão de atividades educacionis</h2>
            
            <p class="lead col-lg-8 mx-auto mb-4">
                O projeto Computeca nasceu da necessidade urgente de fornecer aos educadores brasileiros uma ferramenta robusta e confiável para gerenciar e acessar atividades didáticas alinhadas à Base Nacional Comum Curricular (BNCC). Compreendemos os desafios diários enfrentados na sala de aula, desde o planejamento até a execução, e desenvolvemos esta aplicação para simplificar e enriquecer esse processo fundamental.
            </p>
            
            <p class="lead col-lg-8 mx-auto mb-4">
                Nossa jornada começou com a identificação das limitações de soluções existentes. Anteriormente, muitos educadores dependiam de ferramentas genéricas como o Looker Studio para catalogar recursos. Embora essas plataformas pudessem oferecer visualizações de dados, elas se mostraram insuficientes para a gestão de um verdadeiro **referatório** de atividades. Problemas críticos como a **indisponibilidade**, a **perda de acesso a informações valiosas** e as **restrições intrínsecas** para a manipulação e organização pedagógica dos dados evidenciaram a necessidade de uma solução customizada.
            </p>


            <h3 class="fw-bold mb-3 mt-5">Visão</h3>
            <p class="col-lg-8 mx-auto">
                Acreditamos que, ao fornecer uma plataforma robusta e adaptada às necessidades da BNCC, podemos possibilitar educadores a inovar em suas práticas, facilitando a criação, o compartilhamento e a gestão de um rico referatório de atividades que realmente faça a diferença na educação brasileira. Este projeto é um testemunho do poder da tecnologia a serviço do conhecimento.
            </p>
            
        </div>
    </div>
</body>
</html>